<h1>Trips#edit</h1>
<%= form_with model: @trip, class: "trip-form" do |f|%>
  <p>Please rate your trip from 1-5. </p>

  <%= f.label :rating %>
  <%= f.text_field :rating %>



  <%= f.submit "Edit", class: "Edit" %>
<% end %>
