<h1> Trip In Progress</h1>
<p> Requesting trip for <strong> <%= @trip.passenger.name%></strong></p>
<ul>
  <li> Your driver is: <% @trip.driver.name%></li>
  <li> Driver's Average Rating: <%@trip.driver.average_rating%></li>
  <li> Trip Cost: $5</li>
</ul>
