<h2>Trips List</h2>

<div class="apple_pagination">
  <%= will_paginate @trips %>
</div>
<ul class="trip-list">
  <% @trips.each do |trip| %>
  <li class="trip">
    <span class="trip-id">
      <%= trip.id %>
    </span> &nbsp; &nbsp;
    <span class="name">
      <%=  link_to trip.date, trip_path(trip.id), class: 'name-link' %>
    </span>
  </li>
  <% end %>
</ul>
