<nav class="home-page">
  <ul>
    <li>
      <%= link_to "DRIVE", new_driver_path %>
    </li>
    <li>
      <%= link_to "RIDE", new_passenger_path %>
    </li>
    <li>
      <%= link_to "RIDER LIST", passengers_path %>
    </li>
    <li>
      <%= link_to "DRIVER LIST", drivers_path %>
    </li>
  </ul>
</nav>
