<div class="container">

  <div class="div3">
    <h3>your trips</h3>
    <ol>
      <% i = 0 %>
      <% @trips.each do |trip| %>
      <li>
        <p>
          <%= "#{trip}" %> | <%= link_to "Details", trip_path(trip.id), class: "trip-link" %>
        </p>
      </li>
      <% end %>
    </ol>
  </div>

</div>
