<h2>Trips List</h2>

<div class="apple_pagination">
  <%= will_paginate @trips %>
</div>
<ul>
  <% @trips.each do |trip| %>
  <li class="trip">
    <div class="trip-id"><%= trip.id %></div>
    <div class="name">
      <%=  link_to trip.date, trip_path(trip.id), class: 'name-link' %>
    </div>
  </li>
  <% end %>
</ul>
