<h2>Add New Trip</h2>

<%= render partial: 'layouts/form_errors', locals: {model: @trip} %>
<!-- QUESTION: form_title issue + action vs button -->
<%= render partial: 'form_trip', locals: {model: @trip, form_button: "Create Trip"} %>
