<div class="description-container">

  <h2><%= @trip.name %></h2>

  <p class="description-text"><%= @trip.id %> | <%= @trip.phone_num %></p>
</div>
<div class="return-home">
  <h3>
    <%= link_to "Return Home", all_trips_path, class: "homepage" %>
  </h3>
</div>
