<html>
  <body class="homepage">
    <header class="welcome-header">
      <h1>F.A.S.T.</h1>
      <h2>Friendly and Stylish Transportation</h2>
    </header>
    <section class="main-part driver">
      <!-- https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_button_test -->
      <button class="home-button"><%= link_to "Driver", drivers_path%></button>
    </section>
    <section class="main-part passenger">
      <button class="home-button"><%= link_to "Passenger", passengers_path %></button>
    </section>
    <section class="info">
      <h2>Join the Adventure</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </section>
    <footer class="copywrite">
      <p>Copyright(c) 2018</p>
    </footer>
  </body>
</html>
