<div>

<%= link_to "Add Driver", new_driver_path %>
<br>
<%= link_to "Manage Drivers", drivers_path %>
<br>
In Show Drivers, create link to show an individual driver.
In Show Drivers, create link to show an individual trip.
</div>
<br /><br />
<div>
<%= link_to "Add Passenger", new_passenger_path %>
<%= link_to "Manage Passengers", passengers_path %>
In Show Passengers, create link to show an individual passenger.
In Show Passengers, create link to show an individual trip.

</div>
