<html>
  <body>
    <header>
      <h1>F.A.S.T</h1>
      <h2>Friendly and Stylish Transportation</h2>
    </header>
    <section class="driver">
      <!-- https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_button_test -->
      <button class="button">Driver</button>
    </section>
    <section class="passenger">
      <button class="button">Passenger</button>
    </section>
    <footer>
      <p>Copyright(c) 2018</p>
    </footer>
  </body>
</html>
