<h1>Edit Passenger</h1>
<br>
<<<<<<< HEAD
<%= render partial: "form", locals: { action_name: "Edit Passenger", form_intro: 'Please make your changes here:'} %>
=======
<%= render partial: "form", locals: { form_intro: 'Please make your changes here:', action_name: "Edit Passenger" } %>
>>>>>>> 654e3b8d36bc2cc4b5b4944746f3c26f66178f26
