
<h1>Edit an existing passenger</h1>

<%= render partial: 'layouts/form_errors', locals: {model: @passenger} %>

<%= render partial: "form", locals: {directions: "Complete this form to edit passenger information:", action_button: "Edit Passenger"} %>
