<div class="wrapper_index">
  <h2>PASSENGERS</h2>
  <ul>
    <%@passengers.each_with_index do |passenger, index| %>
      <li class="passengers">
        <%=link_to "#{index +1}. " + passenger.name, passenger_path(passenger.id)%>
      </li>
    <% end %>
  </ul>
</div>
