<h2>Passengers</h2>
<% @passengers.each do |passenger| %>
<p>
  <%= passenger.name %> <%= passenger.phone_num %>
  <%= link_to "(View Details)", passenger_path(passenger.id) %>
</p>

<%end %>
<%= link_to "(New Passenger)", new_passenger_path %>
