<!-- <h1>Passengers#index</h1>
<p>Find me in app/views/passengers/index.html.erb</p> -->
<!-- <%# name = 'bob' %>
<ul>
<%# 5.times do |i| %>
  <li> <%#= "#{name} is number #{i}".upcase %>  </li>
<%# end %>
</ul> -->

<h1>These are the passengers!</h1>
<% @passengers.each do |passenger| %>
  <h2><%= link_to "This IS: #{passenger.name}", passengers_path(passenger.id) %>
  </h2>
<% end %>
