<<<<<<< HEAD
<body class="passenger_index">
=======
<h1>List of Passengers</h1>

<% active_passengers = @passengers.where(active: true) %>

>>>>>>> a5d5bc5a650509ae4e9e2e005a359030b786a341
<table class="index_table">
    <tr>
      <th>PASSENGER NAME</th>
      <th>PASSENGER ID</th>
    </tr>
    <tbody>
      <%= render partial: "passenger", collection: active_passengers %>
    </tbody>
</table>
<<<<<<< HEAD
</body>
=======
>>>>>>> a5d5bc5a650509ae4e9e2e005a359030b786a341
