<h1>Passengers</h1>
<section class="passenger-header">
  <h1>Drivers</h1>
  <button class="passenger-button"><%= link_to "Add a new Passenger", new_passenger_path %></button>
</section>


<% @passengers.each do |passenger| %>
  <h2><%= link_to "#{passenger.name}", passenger_path(passenger.id)%>
  </h2>
</a>


  <p> phone number <%= passenger.phone_num %></p>
  <%#= link_to "Delete", book_path(book.id), method: :delete %>
<% end %>
