

<% @passengers = Passenger.all%>
<% ordered_passengers = @passengers.order(:name) %>
<table id="index_passenger_table">
    <tr>
      <th>PASSENGER NAME</th>
      <th>PASSENGER ID</th>
      <th>EDIT ACTIONS</th>
    </tr>
    <tbody>
<tr>

<% ordered_passengers.each do |passenger| %>
  <tr>
    <td>
      <%= link_to "#{passenger.name}", passenger_path(passenger.id) %>
    </td>
    <td>
      <%= link_to "#{passenger.id}", passenger_path(passenger.id) %>
    </td>
    <td class="index_actions">
            <%= link_to "âœï¸", edit_passenger_path(passenger.id), id: "change", class: "hover_name1"%>
            <%= link_to "ðŸ”¥", passenger, method: :delete, data: {confirm: "You sure about that? Select OK to remove task #{passenger.name.upcase} ForEVVVeeeR!"}, id: "delete", class: "hover_name1" %>
    <td>
  </tr>
<%end%>

</table>

