<h2>Add New Passenger</h2>

<%= render partial: 'form_errors', locals: {model: @passenger} %>
<%= render partial: "form_passengers", locals: { model: @passenger, action_type: "Add New Passenger" } %>
