<p> NEW NEW NEW </p>
<%= render partial: "../views/form",
  locals: { model_name: @passenger,
    action_name: 'Add a Passenger',
    number_variable: :phone_num,
    number_title: "Phone Number",
    button_title: 'Create Passenger' } %>
