<!-- <h1>Passengers#new</h1>
<p>Find me in app/views/passengers/new.html.erb</p> -->


<%= render partial: "form",
      locals: { action_name: 'Create a Passenger',
                 button_title: 'Create' } %>
