<h2></h2>
<p>
      Name: <%= @passenger.name %>
    </p>
  </div>

  <p>
    Phone Number: <%= @passenger.phone_num%>
  </p>
  <p>
    Total Earnings
  </p>
  <p>
    Trips table/list <img src="https://raw.githubusercontent.com/kangazoom/ride-share-rails/master/images/Rideshare-Rails-Wireframe-show-passenger.png" />
  </p>
