<h1> Here is info on a passenger!</h1>

<% if @passenger.nil? %>
  <h1> 404 Not found</h1>
<% else %>
  <h1><%=@passenger.name %></h1>
  <h3> <%= @passenger.phone_num %></h3>

  <%= link_to "Edit", edit_passenger_path(@passenger.id) %>
  <div></div>
  <%= link_to "Delete #{@passenger.name}", passenger_path(@passenger.id), method: :delete, data: { confirm: 'Are you sure? This cannot be undone!'} %>
<% end %>
