<%= link_to "Homepage", root_path %>


<h2>Rideshare Drivers</h2>

<% @drivers.each do |driver| %>
  <strong><%= link_to driver.name, driver_path(driver.id) %></strong>
  <!-- <strong><%= driver.name %></strong> -->
  <br>
<% end %>
