<h2>Drivers List</h2>
<div class="apple_pagination">
  <%= will_paginate @drivers %>
</div>
<table>
  <tbody>
    <% @drivers.each do |driver| %>
    <tr>
      <td>
        <%=  link_to driver.name, driver_path(driver.id), class: 'name-link' %>
      </td>
      <td>
        <ul>
          <li>
            <%= link_to "Edit", edit_driver_path(driver.id) %>
          </li>
          <li>
            <%= link_to "Delete", driver_path(driver.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
