<h1>Drivers</h1>
<table>
  <tr>
    <th>Driver ID</th>
    <th>Vin Number</th>
  </tr>
    <% @drivers.each do |driver| %>
      <tr>  
        <td>
          <h2><%= link_to "#{driver.name}", driver_path(driver.id) %> </h2>
        </td>
        <td>
          <p> <%= "#{driver.vin}"  %> </p>
        </td>
      </tr>
    <% end %>
</table>
