<h1>List of Drivers</h1>

<% active_drivers = @drivers.where(active: true) %>

<table class="index_table">
  <tr>
    <th>DRIVER NAME</th>
    <th>DRIVER ID</th>
  </tr>
  <tbody>
    <%= render partial: "driver", collection: active_drivers %>
  </tbody>
</table>
