<main class='drivers-list'>
  <h1>Here's who's driving</h1>
  <section class='names-list'>
  <% @drivers.each do |driver| %>
    <h2><%= link_to "#{driver.id}: #{driver.name}", driver_path(driver.id) %>
    </h2>
  <% end %>
  </section>

</main>
