<body>
  <section class="driver-header">
    <h1>Drivers</h1>
    <button class="driver-button"><%= link_to "Add a New Driver", new_driver_path %></button>
  </section>

  <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
  <main>
    <table>
      <tr>
        <th>Driver Name</th>
        <th>VIN</th>
      </tr>
      <% @drivers.each do |driver| %>
      <tr>
        <td><%=link_to "#{driver.name}", driver_path(driver.id) %></td>
        <td><%= driver.vin %></td>
      </tr>
      <% end %>
    </table>
  </main>
</body>
