<%= will_paginate @drivers %>
<h1>Drivers</h1>

  <table>
    <tr>
      <th> Name </th>
      <th> Edit </th>
      <th> Delete </th>
    </tr>
      <% @drivers.each do |driver| %>
      <tr>
        <th>
          <%= link_to "#{driver.name}", driver_path(driver.id) %>
        </th>
        <th>
          <%= link_to "Edit", edit_driver_path(driver.id) %>
        </th>
        <th>
          <%= link_to "Delete", driver_path(driver.id), method: :delete, data: {confirm: "Delete #{driver.name}?  \n(All of the associated trips will no longer have a driver listed.)"} %>
        </th>
      </tr>
    <% end %>
  </table>
