<h2> Drivers </h2>

<% @drivers.each do |driver| %>

<ul>
  <strong>
    <li><%= link_to driver.name, driver_trips_path(driver.id) %></li>
    <li> <%= driver.vin %> </li>
    <li> <%= link_to "Edit", edit_driver_path(driver.id) %> </li>
    <li>
      <%= link_to "Delete", driver_path(driver.id), method: :delete, data: {confirm: "Are you sure you want to delete #{driver.name}"} %>
    </li>
  </strong>
</ul>

<% end %>
