<div class="wrapper_index">
  <h2>DRIVERS</h2>
  <ul>
    <% @drivers.each_with_index do |driver, index| %>
    <li class="drivers">
      <%=link_to "#{index +1}. " + driver.name, driver_path(driver.id)%>
    </li>
  <% end %>
</ul>
</div>
