<h1>All Drivers</h1>

<table cellpadding="20">

  <thead>
    <tr>
      <td>Name</td>
      <td>VIN</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
  </thead>

  <tbody>
  <% @drivers.each do  |d| %>
    <tr>
      <td><%= link_to "#{d.name}", driver_trips_path(d.id) %></td>
      <td><%= d.vin %></td>
      <td><%= link_to "Edit", edit_driver_path(d.id) %></td>
      <td><%= link_to "Delete", driver_path(d.id), method: :delete,
       data: { confirm: "Are you sure you want to delete this driver?" } %></td>
    <% end   %>
    </tr>
  </tbody>
</table>
