<div class="wrapper_index">
  <h2>DRIVERS</h2>
  <ol>
    <% @drivers.each_with_index do |driver, index| %>
    <%=link_to "#{index +1}. " + driver.name, driver_path(driver.id)%>
  </div>
  <div class="links">
    <%= link_to "view details", driver %>
  </div>
</li>
<% end %>
</ol>
