<%= will_paginate @drivers %>

<h3>Drivers</h3>

    <ol>
      <% @drivers.each do |driver| %>
      <li>
        <%= link_to "#{driver.name}", driver_path(driver.id) %>
        <%= link_to "Edit", edit_driver_path(driver.id) %>
        <%= link_to "Delete", driver_path(driver.id), method: :delete, data: {confirm: "Delete #{driver.name}?  \n(All of the associated trips will no longer have a driver listed.)"} %>
      </li>
    <% end %>
    </ol>
