<body>
  <section class="driver-header">
    <h1>Drivers</h1>
    <button class="driver-button"><%= link_to "Add a New Driver", new_driver_path %></button>
  </section>
  <main>
    <table>
      <tr>
        <th>Driver Name</th>
        <th>VIN</th>
      </tr>
      <% @drivers.each do |driver| %>
      <tr>
        <td><%=link_to "#{driver.name}", driver_path(driver.id) %></th>
        <td><%= driver.vin %></th>
      </tr>
      <% end %>
    </table>
  </main>
</body>
