@import url('https://fonts.googleapis.com/css?family=Faster+One|Krub');/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}



header {
  position: relative; top: -22px;
  height: 300px;
  margin: 0px;
  text-transform: uppercase;
  background-color: #5BC0BE;
}

h1 {
  text-align: center;
  margin: 0px;
  padding: 25px;
  font-size: 5em;
  font-family: 'Faster One', cursive;
  letter-spacing: 5px;
}


nav {
  margin: 0px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  margin-right: 1em;
}

nav li {
  border: 1px solid black;
  font-size: 18px;
  margin-left: 20px;
  border-radius: 10px;
  list-style: none;
  padding: 10px;
  margin-top: 2em;
  font-family: 'Krub', sans-serif;
}

footer {
  background-color: #5BC0BE;
  height: 100px;
  margin: auto;
}

footer p {
  margin: 0px;
  text-align: center;
  padding-top: 30px;
  font-family: 'Krub', sans-serif;
}
