body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("white_road.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Alegreya|Monoton|Permanent+Marker|Vollkorn')


.navbar-header {
     background-color: white;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     height: 80px;
     display: flex;
     align-items: center;
 }

.logo {
  padding-left: 1rem;
  float: left;
  font-family: 'Permanent Marker', cursive;
  /* font-family: 'Monoton', cursive; */

}

/* .navbar-header {
  display: flex;
   padding-left: 5rem;

 } */

 /* header * {
    display: inline-block;
} */

.navbar-header ul li {
    padding-right: 3rem;
    margin: 1rem;
}

.navbar-header ul {
    display: flex;
    margin: 20px;
    list-style: none;
}

.navbar-header li a {
    padding-right: 4rem;
    text-decoration: none;
}

.navbar-header a:visited {
    color: red;
}

main {
  background-color: white;
  padding: 10px;

}

h1, tr {
  color: white;
}
