// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.driver-header {
  text-align: center;
  font-family: 'K2D';
}

.driver-header h1 {
  font-size: 50px;
}

.driver-button {
  font-family: 'K2D';
  background:white;
  color: black;
  border: 2px solid black;
  border-radius: 8px;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  vertical-align: center;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.driver-button:hover{
  background:#fff;
  color:#1AAB8A;
}
.driver-button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:5px;
  width:0;
  background: black;
  transition:400ms ease all;
}
.driver-button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.driver-button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

main {
  text-align: center;
}

table {
  font-family: 'K2D';
  border: 15px solid white;
  border-radius: 8px;
  // border-collapse: collapse;
  // border-spacing: 5px;
  margin: 2em 10em 2em 10em;
  width: 75%
}

th, td {
  padding: 20px;
  border-bottom: 5px double black;
}

th {
  font-size: 30px;
}

tr:hover {
  background-color: grey;
}
