@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Space+Mono');

.home {
  background-image: image_url('space.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.format_picture {
  height: 100%;
}

.background_img {
  background-image: image_url('moon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
