// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.c4 h2#forbidden {
font-size: 3em;
text-align: center;
padding: 2em 2em;
// margin: auto;
}

.c4 h3 {
  margin-left: -2em;
  margin-top: 1.8em;
}

.c4 a {
  text-decoration: none;
}

.c4 .submit-button {
  margin-left: 1em;
  margin-top: -.3em;
}

.c4 .ratings-box {
  margin-left: 12em;
  margin-top: -.1em;
  margin-bottom: .6em;
}

.c4 p {
  margin-bottom: -.4em;
}
