
// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  font-family: 'Krub', sans-serif;
}

td, th {
  border: 1px solid #0B132B;
  text-align: center;
  // padding: 8px;
}

.trip_table tr:nth-child(even) {
  background-color: gray;
}

h3 {
  color: rgb(193, 9, 9);
}

.new-trip-submit-button, .homepage {
  color: rgb(193, 9, 9);
}

.edit-link {
  color: rgb(193, 9, 9);
}

.delete-link {
  color: rgb(193, 9, 9);
}
