// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// h1, .actions {
//   text-align: center;
// }
@import url('https://fonts.googleapis.com/css?family=Exo+2:500');

h1 {
  font-size: 6vh;
}

.trips {
  display: flex;
  flex-wrap: wrap;
  color: #EFEFEF;
  font-family: 'Exo 2', sans-serif;
}

.trips .section {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trips .header {
  // background-color: #B2D6FF;
  height: 150px;
}

.trips .actions {
  // background-color: #EAEDF0;
  height: 60px;
}

.trips .actions p {
  padding: 0 3vw;
}

.trips .date {
  // background-color: #D6E9FE;
}

.trips .t_id {
  // background-color: #F5CF8E;
  display: flex;
  flex-direction: column;
}

.trips .p_id {
  // background-color: #F09A9D;
}

.trips .d_id {
  // background-color: #C8C6FA;
}

.trips .cost {
  // background-color: #5995DA;
}

.trips .rating {
  // background-color: #B2D6FF;
}

.trips .date,
.trips .t_id,
.trips .p_id,
.trips .d_id,
.trips .cost,
.trips .rating {
  display: flex;
  flex-direction: column;
  background-color: rgba(33, 33, 33, 0.5);
}

.trips .titles {
  font-size: 14px;
}

.trips .data {
  font-size: 20px;
}

.trips .actions a:link, .trips .p_id a:link, .trips .d_id a:link {
  color: #EFEFEF;
}

.trips .actions a:visited, .trips .p_id a:visited, .trips .d_id a:visited{
  color: rgba(1, 124, 194, 1);
}

.trips .actions a:hover, .trips .p_id a:hover, .trips .d_id a:hover{
  color: rgba(218, 38, 30, 1);
}

@media only screen and (min-width: 758px) and (max-width: 1024px) {
  .trips .date,
  .trips .t_id,
  .trips .p_id,
  .trips .d_id,
  .trips .cost,
  .trips .rating {
    width: 50%;
    height: 40vh;
  }

  .trips .titles {
    font-size: 18px;
  }

  .trips .data {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1025px) {
  .trips .page {
    width: 1025px;
    margin: 0 auto;
  }

  .trips .date,
  .trips .t_id,
  .trips .p_id,
  .trips .d_id,
  .trips .cost,
  .trips .rating {
    width: 33.3%;
    height: 25vh;
  }

  .trips .header {
    height: 150px;
  }

  .trips .titles {
    font-size: 14px;
  }

  .trips .data {
    font-size: 24px;
  }
}
