<!-- QUESTION: customize the error messages?? ex: phone number instead of phone_num --> 
<% if model.errors.messages.any? %>
<div class="error_messages">
  <ul>
    <% model.errors.messages.each do |field, problem_list| %>
    <% problem_list.each do |problem| %>
    <li>
      <%= field %>
      <%= problem %>

    </li>
    <% end %>
    <% end %>
  </ul>
</div>
<% end %>
