<nav>
  <%= link_to "Add Passenger ", new_passenger_path %>
  <%= link_to "Add Driver ", new_driver_path %>
</nav>


<h2>Welcome to the Rideshare App</h2>
<div class="wrapper_home_1">
<%= link_to "Manage Passengers", passengers_path %>
<%= link_to "Manage Drivers", drivers_path %>
</div>
